<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex justify-content-center h-25">
      <h1 class="display-4" style="margin-top: 70px">Bienvenue à toi <%= @name %> !</h1>
    </div>
    <div class="container">
    </div>
  </body>
</html>